---
extension: xml
layout: nil
filter: haml
---
- posts = @pages.find(:all, :in_directory => '2011', :recursive => true, :sort_by => 'date', :reverse => true, :limit => 6)

!!! XML
%feed(xmlns='http://www.w3.org/2005/Atom')
  %title Daniel Stutzman
  %subtitle A Boulder web developer shares tech reviews and how-tos
  %id http://www.danielstutzman.com/atom.xml
  %link{ :rel => 'self', :href => 'http://www.danielstutzman.com/atom.xml',
    :type => 'application/atom+xml' }
  %updated= Time.now.gmtime.strftime('%Y-%m-%dT%H:%M:%SZ')
  %author
    %name Daniel Stutzman
    %email daniel@diagonalsoftware.com
  - for post in posts
    %entry 
      %title= post.title
      %id= "http://www.danielstutzman.com#{post.url.gsub(/\.html$/, '')}"
      %link{ :href =>                                                     |
        "http://www.danielstutzman.com#{post.url.gsub(/\.html$/, '')}" }  |
      %updated= "#{post.date}T06:00:00Z"
      %content(type='html')
        = render(post).gsub(/&([a-z0-9]+)=/, '&amp;\1=').gsub('&mdash;', ' - ')
