---
title:       Home Page
created_at:  2008-08-02 14:06:40
extension: xml
layout: nil
filter: haml
---
- posts = @pages.find(:all, :in_directory => '2011', :recursive => true, :sort_by => 'date', :reverse => true, :limit => 6)

!!! XML
%rss{ :version => "2.0" } 
  %channel 
    %title Daniel Stutzman
    %link http://www.danielstutzman.com/
    %description
      Going Diagonal: A Boulder web developer shares tech reviews and how-tos
    %language en-us 
    %pubDate= posts.first.date
    - for post in posts
      %item 
        %title= post.title 
        %link= "http://www.danielstutzman.com#{post.url.gsub(/\.html$/, '')}"
        %author Daniel Stutzman
        %pubDate= post.date
