---
extension: html
filter:    haml
---
!!!
%html
  %head
    - if @page.title && @page.title != ''
      %title= @page.title
    - else
      %title Daniel Stutzman, Ruby web developer
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link{ :rel => 'stylesheet', :type => 'text/css',
      :href => "/css/style.css?#{File.mtime('content/css/style.css').to_i}" }
    :javascript
      // Google Analytics for WordPress by Yoast v4.0.13 | http://yoast.com/wordpress/google-analytics/
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount','UA-21566912-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{ :type => 'text/javascript',
      :src => "/js/l10n.js?#{File.mtime('content/js/l10n.js').to_i}" }
    %link(href='/atom.xml' type='application/atom+xml' rel='alternate'
      title='Atom Feed')
    %link(rel="alternate" type="application/rss+xml" 
      href="feed.rss" title="RSS feed")
  %body
    = render(:partial => '/header')
    #main
      #container
        #content
          - if @page.title && @page.title != ''
            -# this h1 shows on archive pages, not on home page
            %h1.entry-title
              %a{ :href => url_for(@page) }
                = @page.title
          .entry-meta
            - if @page.date
              %span.meta-prep.meta-prep-entry-date Published
              %span.entry-date
                %abbr.published
                  = @page.date
          .entry-content
            ~ @content
      = render(:partial => '/sidebar')
      %br(clear='both')
      %hr

      - path = url_for(@page)
      - path = url_for(@last_post) if path == '/'
      - path = path.gsub('/blog', '').gsub(/\.html$/, '')
      %script
        = "var disqus_identifier = '#{path}1'; // add 1 to fix Disqus bug"
        = "var disqus_shortname = 'danielstutzman';"
        = "var disqus_url = 'http://www.danielstutzman.com#{path}';"
      #disqus_thread
      :javascript
        if (document.location.host !== 'localhost:8888') {
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        }
    #footer
      #colophon
        #site-info
